html, body {
  margin: 0px;
  background-color: #2F4F30;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px
}

.card {
  display: inline;
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
  box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
}

.loss{
  color: red;
}

#human-cards, #computer-cards {
  height: 250px;
}
#winner{
  display: none;
  height: 100px;
  width: 80%;
  margin: 0px auto;
  color: purple;
  font-size: 3rem;
  text-align: center;
  line-height: 100px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 12px 12px 19px -6px rgba(0,0,0,1);
}